<%= simple_form_for([:admin, @usuario], validate: true, html: {class: 'form-horizontal'}) do |f| %>
  <%= error_messages_for @usuario %>

  <div class="form-inputs">
    <%= f.input :nome %>
    
    <%= f.input :email %>
    
    <%= f.input :password, label: 'Senha' %>
    
    <%= f.input :password_confirmation, label: 'Confirme a Senha' %>

    <%= f.input :change_password, label: 'Pedir para alterar senha no próximo login' %>

    <%= f.input :grupo, collection: [["Administrador", "admin"],["Usuário Comum", "usuario"]], include_blank: false %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>