<ul>
	<% if params[:folder_id] and @pasta and @pasta.parents[0] %>
		<li>
			<%= image_tag "https://ssl.gstatic.com/docs/doclist/images/icon_11_collection_list.png" %>
			<%= link_to "..", :action => :arquivos, :id => @pasta.parents[0].id %>
		</li>
	<% end %>
	<% @arquivos.items.each do |item| %>
		<% if arquivo = Arquivo.update_or_create_arquivo(current_projeto, item) %>
			<li>
				<%= image_tag arquivo.icon_link %>
				<% if arquivo.diretorio %>
					<%= link_to arquivo.nome, :action => :arquivos, :folder_id => arquivo.file_id %>
				<% else %>
					<a href="<%= arquivo.web_content_link %>"><%= arquivo.nome %> (<%= number_to_human_size arquivo.tamanho %>)</a>
				<% end %>
			</li>
		<% end %>
	<% end %>
	<% if !params[:id] and @arquivos.items.size == 0 %>
		<p>Nenhum arquivo encontrado. Comece fazendo o upload de algum arquivo para o seu projeto.</p>
	<% elsif @arquivos.items.size == 0 %>
		<p>Pasta vazia</p>
	<% end %>
</ul>