<div class="span12">

	<div class="box-btn-login">
		<div class="btn-login">
			<div class="fechadura">
				<div class="bolinha"></div>
				<div class="trapezio"></div>
			</div>
		</div>
	</div>

	<div class="box-login">
		<div class="nuvem-login">
			<div class="nuvem-girar">
				<div class="back">
					<div class="circulo circulo-1"></div>
					<div class="circulo circulo-2"></div>
					<div class="circulo circulo-3"></div>
					<%= simple_form_for(Usuario.new, :as => :usuario, :url => session_path(:usuario), :html => {:class => 'form-horizontal frm-login'}) do |f| %>
						<div class="field">
							<%= f.label :email, "Email" %>
							<%= f.text_field :email %>
						</div>
						<div class="field">
							<%= f.label :password, "Senha" %>
							<%= f.password_field :password %>
						</div>
						<%= f.submit "aperte enter" %>
					<% end %>
				</div>
				<div class="front">
					<div class="circulo circulo-1"></div>
					<div class="circulo circulo-2"></div>
					<div class="circulo circulo-3"></div>
				</div>
			</div>
			
			
			<h1 class="logo">FOA DOCS</h1>
		</div>
	</div>
</div>