<div class="col-sm-7">
	<% current_projeto.versoes.each do |versao| %>
		<div class="atualizacao">
			<div class="atualizacao-topo row">
				<div class="col-xs-2 icon-arquivo">
					<%= image_tag versao.arquivo.icone, class: "icon-arquivo-img" %>
				</div>
				<div class="col-xs-10">
					<h1><%= "Pasta" if versao.arquivo.diretorio %> <%= versao.arquivo.nome %> <b><%= versao.mudanca %></b></h1>
					<h2>
						<% if Time.zone.now - versao.modified_date >= 3.days %>
							<%= versao.modified_date.strftime("%d/%m/%Y") %>
						<% else %>
							há <%= time_ago_in_words versao.modified_date %> atrás
						<% end %>
					</h2>
					<a href="<%= versao.arquivo.web_content_link %>" target="_blank" class="download-link">Download</a>
				</div>
			</div>
			<% if versao.alteracao %>
				<%=raw versao.alteracao %>
			<% end %>
			<div class="comentarios">
				<% versao.comentarios.each do |comentario| %>
					<div class="comentario row">
						<div class="col-xs-1 comentario-avatar">
							<%= image_tag comentario.usuario.image, class: "comentario-img" %>
						</div>
						<div class="col-xs-11">
							<b><%= comentario.usuario.nome %></b> <br>
							<%=simple_format comentario.comentario %>
						</div>
					</div>
				<% end %>
				<div class="comentario comentario-novo row">
					<%= form_for Comentario.new do |f| %>
						<%= f.hidden_field :versao_id, value: versao.id %>
						<div class="col-xs-1 comentario-avatar">
							<%= image_tag current_usuario.image, class: "comentario-img" %>
						</div>
						<div class="col-xs-11">
							<%= f.text_area :comentario, class: "comentario-textarea form-control", placeholder: "Escreva um comentário" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>
<div class="col-sm-3"></div>

<script>
	window.current_usuario = <%=raw current_usuario.to_json %>;
</script>
<script id="comentarios-template" type="text/x-handlebars-template">
	<div class="comentario row">
		<div class="col-xs-1 comentario-avatar">
			<img src="{{ image }}" class="comentario-img" />
		</div>
		<div class="col-xs-11">
			<b>{{ nome }}</b> <br>
			<p>{{{ comentario }}}</p>
		</div>
	</div>
</script>