<%- modelo = controller.controller_path.split('/')[-1] %>
<h1>Ordenar <%= modelo.titleize %></h1>

  <ul id="<%= modelo %>">
  	<% @list.each do |m| %>
  		<li id="<%= modelo.singularize %>_<%= m.id %>">
  			<%= image_tag m.foto.url(:small), :style => 'vertical-align:middle' %>
  			<%= m.nome %>
  		</li>
  	<% end %>
  </ul>

<style type="text/css">
	.handle:hover{cursor: move;}
</style>
<script type="text/javascript">

$('#<%= modelo %>').sortable({
	axis: 'y',
	dropOnEmpty: false,
	cursor: 'crosshair',
	items: 'li',
	opacity: 0.4,
	scroll: true,
	update: function(){
		$.ajax({
			type: 'post',
			data: $(this).sortable('serialize'),
			complete: function(request){
				$('#<%= modelo %>').effect('highlight');
			},
			url: 'ordenar'
		});
	}
});
</script>