<%= simple_form_for(@arquivo, validate: true, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :projeto %>
    <%= f.association :arquivo %>
    <%= f.input :file_id %>
    <%= f.input :nome %>
    <%= f.input :diretorio %>
    <%= f.input :mime_type %>
    <%= f.input :etag %>
    <%= f.input :tamanho %>
    <%= f.input :download_url %>
    <%= f.input :icon_link %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
