<h1>Arquivos</h1>

<table id="lista" class="table table-bordered table-striped" sort-list="[[0, 1]]">
<thead>
	<tr>

		<th>Projeto</th>

		<th>Arquivo</th>

		<th>File</th>

		<th>Nome</th>

		<th>Diretorio</th>

		<th>Mime type</th>

		<th>Etag</th>

		<th>Tamanho</th>

		<th>Download url</th>

		<th>Icon link</th>

		<th width="140">Ações</th>
	</tr>
</thead>
<tbody>
	<% @arquivos.each do |arquivo| %>
	<tr>
		<td><%= arquivo.projeto %></td>
		<td><%= arquivo.arquivo %></td>
		<td><%= arquivo.file_id %></td>
		<td><%= arquivo.nome %></td>
		<td><%= arquivo.diretorio %></td>
		<td><%= arquivo.mime_type %></td>
		<td><%= arquivo.etag %></td>
		<td><%= arquivo.tamanho %></td>
		<td><%= arquivo.download_url %></td>
		<td><%= arquivo.icon_link %></td>
		<td>
	      <%= link_to 'Exibir', arquivo %>
	      <%= link_to 'Editar', edit_arquivo_path(arquivo) %>
	      <%= link_to 'Excluir', arquivo, data: {confirm: 'Tem certeza?'}, method: :delete %>
	    </td>
	</tr>  
	<% end %>
<% if @arquivos.size == 0 %>
	<tr><td colspan="11">Nenhum registro encontrado</td></tr>
<% end %>
</tbody>
</table>
<center><%= page_navigation_links @arquivo %></center>