<h1>Arquivos</h1>

<table id="lista" class="table table-bordered table-striped" sort-list="[[0, 1]]">
<thead>
	<tr>
		<th>Nome</th>

		<th>Tamanho</th>

		<th>File ID</th>

		<th>Projeto</th>

		<th>Pasta Pai</th>

		<th width="140">Ações</th>
	</tr>
</thead>
<tbody>
	<% @arquivos.each do |arquivo| %>
	<tr>
		<td><%= image_tag arquivo.icon_link %> <%= arquivo.nome %></td>
		<td><%= number_to_human_size arquivo.tamanho %></td>
		<td><%= arquivo.file_id %></td>
		<td><%= link_to arquivo.projeto, arquivo.projeto %></td>
		<td><%= link_to arquivo.arquivo, arquivo.arquivo if arquivo.arquivo %></td>
		<td>
	      <%= link_to 'Exibir', arquivo %>
	      <%= link_to 'Editar', edit_arquivo_path(arquivo) %>
	      <%= link_to 'Excluir', arquivo, data: {confirm: 'Tem certeza?'}, method: :delete %>
	    </td>
	</tr>  
	<% end %>
<% if @arquivos.size == 0 %>
	<tr><td colspan="11">Nenhum registro encontrado</td></tr>
<% end %>
</tbody>
</table>
<center><%= page_navigation_links @arquivo %></center>