<%= nested_form_for([:admin, @pagina], validate: true, html: {multipart: true}) do |f| %>

   <%= error_messages_for @pagina %>

  
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :style => "height:50px" %>
  </div>

  <div class="field">
    <%= f.label :metatags, 'Outras Metatags' %><br />
    <%= f.text_area :metatags, :style => "height:50px" %>
  </div>
  
  <div class="form-actions">
    <%= f.submit class: 'btn btn-success', value: 'Salvar' %>
  </div>
  
<% end %>