<h1>Detalhes <%= masc_fem('pagina', 'do', 'da') %> Pagina</h1>

<div class="fieldset">
	<dl>
		
		<dt class="label label-default">Url</dt>
		<dd>
			<pre><%= @pagina.url %></pre>
		</dd>
		
		<dt class="label label-default">Title</dt>
		<dd>
			<pre><%= @pagina.title %></pre>
		</dd>
		
		<dt class="label label-default">Description</dt>
		<dd>
			<pre><%= @pagina.description %></pre>
		</dd>

		<dt class="label label-default">Outras Metatags</dt>
		<dd>
			<pre><%= @pagina.metatags %></pre>
		</dd>
		
	</dl>
</div>