<h1>Detalhes <%= masc_fem('banner', 'do', 'da') %> Banner</h1>

<% if notice %>
	<div class="alert-message success">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>

<div class="fieldset">
	<dl>
		
		<dt class="label">Nome</dt>
		<dd>
			<pre><%= @banner.nome %></pre>
		</dd>
		
		<dt class="label">Link</dt>
		<dd>
			<pre><%= @banner.link %></pre>
		</dd>
		
		<dt class="label">Foto</dt>
		<dd>
			<pre><%= image_tag @banner.foto(:small) if @banner.foto? %></pre>
		</dd>
		
	</dl>
</div>